{% extends 'home/index.html' %}

{% block content %}
<img src="static/images/regio.PNG" />

<table>
    <tr>
        <th>leverancier</th>
	<th>regio A</th>
	<th>regio B</th>
        <th>regio C</th>
        <th>regio D</th>
        <th>regio E</th>
        <th>regio F</th>
        <th>regio G</th>
        <th>regio H</th>
        <th>regio I</th>
        <th>regio J</th>
    </tr>
    {% for item in gasregios %}
    <tr> 
        <td>{{ item.leverancier }}</td>
	<td>{{ item.regio_1}}</td>
	<td>{{ item.regio_2}}</td>
        <td>{{ item.regio_3}}</td>
        <td>{{ item.regio_4}}</td>
        <td>{{ item.regio_5}}</td>
        <td>{{ item.regio_6}}</td>
        <td>{{ item.regio_7}}</td>
        <td>{{ item.regio_8}}</td>
        <td>{{ item.regio_9}}</td>
        <td>{{ item.regio_10}}</td>
    </tr>
    {% endfor %}
</table>
{%endblock%}
